In [13]:
import pandas as pd

In [4]:
df7 = pd.read_csv("202207-citibike-tripdata.csv")
df7.head()

C:\Users\aloun\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C09E4093905089BD,classic_bike,2022-07-23 11:34:57,2022-07-23 11:45:08,Melrose St & Broadway,4801.04,Myrtle Ave & Grove St,4816.05,40.697481,-73.935877,40.699050,-73.915160,member
1,374630DB5822C392,electric_bike,2022-07-29 18:19:08,2022-07-29 18:26:50,E 68 St & 3 Ave,6896.16,E 85 St & York Ave,7146.04,40.767128,-73.962246,40.775369,-73.948034,member
2,4F73CA25880A1215,electric_bike,2022-07-16 16:30:58,2022-07-16 17:39:18,W 37 St & 10 Ave,6611.02,Knickerbocker Ave & Cooper St,4582.05,40.756604,-73.997901,40.690810,-73.904480,member
3,ECD6EE19C0CC1D31,electric_bike,2022-07-17 17:35:57,2022-07-17 18:03:36,W 37 St & 10 Ave,6611.02,6 Ave & Broome St,5610.09,40.756604,-73.997901,40.724310,-74.004730,member
4,44D0987673B9997D,classic_bike,2022-07-11 07:56:29,2022-07-11 07:59:15,E 68 St & 3 Ave,6896.16,E 66 St & Madison Ave,6969.08,40.767128,-73.962246,40.768009,-73.968453,member

In [5]:
df1 = pd.read_csv("202301-citibike-tripdata.csv")
df1.head()

C:\Users\aloun\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,member
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,member
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual

In [6]:
df3 = pd.read_csv("202303-citibike-tripdata.csv")
df3.head()

C:\Users\aloun\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,EAB9FFEAB7BDBAF2,classic_bike,2023-03-15 18:11:59,2023-03-15 18:18:38,6 Ave & W 33 St,6364.07,9 Ave & W 22 St,6266.06,40.748423,-73.988208,40.745497,-74.001971,member
1,B57211E2408E604F,classic_bike,2023-03-18 21:05:59,2023-03-18 21:10:51,6 Ave & W 33 St,6364.07,W 35 St & 9 Ave,6569.09,40.749134,-73.988536,40.754145,-73.996089,member
2,9411DD44FB7406A9,classic_bike,2023-03-16 10:16:15,2023-03-16 10:24:27,6 Ave & W 33 St,6364.07,W 35 St & 9 Ave,6569.09,40.749013,-73.988484,40.754145,-73.996089,member
3,DC2D4F90D746F435,classic_bike,2023-03-01 06:55:20,2023-03-01 07:05:44,E 5 St & Ave A,5626.06,8 Ave & W 31 St,6450.05,40.724775,-73.983742,40.750585,-73.994685,member
4,63874304EFBD61EE,classic_bike,2023-03-02 23:21:02,2023-03-02 23:42:19,3 Ave & Schermerhorn St,4437.01,Greenpoint Ave & Manhattan Ave,5785.05,40.686803,-73.979754,40.730260,-73.953940,member

In [7]:
df4 = pd.read_csv("202304-citibike-tripdata.csv")
df4.head()

C:\Users\aloun\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,159C90AB46D5631B,classic_bike,2023-04-01 17:24:06,2023-04-01 17:46:10,Hoyt St & Warren St,4330.09,Washington St & Laight St,5509.02,40.684294,-73.988944,40.722310,-74.010600,member
1,4349D44670885CED,electric_bike,2023-04-13 15:09:12,2023-04-13 15:16:11,E 25 St & 2 Ave,6046.02,E 47 St & 2 Ave,6498.10,40.739126,-73.979738,40.753231,-73.970325,member
2,55EB4E8AF45439D2,electric_bike,2023-04-28 15:17:00,2023-04-28 15:26:09,3 Ave & E 62 St,6762.04,W 55 St & 6 Ave,6809.09,40.763126,-73.965269,40.763189,-73.978434,member
3,3133FC58AA938D08,classic_bike,2023-04-23 16:18:49,2023-04-23 17:10:50,Washington Pl & 6 Ave,5838.09,E 56 St & 3 Ave,6691.11,40.732241,-74.000264,40.759345,-73.967597,member
4,BF2DD897668DA1AC,classic_bike,2023-04-21 15:42:08,2023-04-21 15:47:04,3 Ave & E 62 St,6762.04,W 55 St & 6 Ave,6809.09,40.763112,-73.965812,40.763189,-73.978434,member

In [14]:
df5 = pd.read_csv("202305-citibike-tripdata_original.csv")
df5

C:\Users\aloun\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,176B188F3289F37B,classic_bike,2023-05-23 19:22:53,2023-05-23 19:35:23,E 50 St & Park Ave,6659.10,E 74 St & 1 Ave,6953.08,40.757306,-73.974518,40.768974,-73.954823,member
1,BB6957A02501C686,classic_bike,2023-05-27 08:49:55,2023-05-27 08:57:42,Flatbush Ave & Ocean Ave,3704.04,Grand Army Plaza & Plaza St West,4010.15,40.663657,-73.963014,40.672968,-73.970880,member
2,C67567E1DAFB9F2C,classic_bike,2023-05-12 20:19:58,2023-05-12 20:36:07,Flatbush Ave & Ocean Ave,3704.04,3 St & 7 Ave,3905.15,40.663657,-73.963014,40.670384,-73.978397,member
3,89DDFCEAE05D043A,electric_bike,2023-05-03 07:59:13,2023-05-03 08:07:04,Flatbush Ave & Ocean Ave,3704.04,3 St & 7 Ave,3905.15,40.663657,-73.963014,40.670384,-73.978397,member
4,63B1D5A7A2316252,classic_bike,2023-05-13 10:23:52,2023-05-13 10:47:17,Flatbush Ave & Ocean Ave,3704.04,Grand Army Plaza & Plaza St West,4010.15,40.663657,-73.963014,40.672968,-73.970880,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3580761,BA28157F10FA9C78,classic_bike,2023-05-11 17:37:54,2023-05-11 17:43:33,Lewis Ave & Fulton St,4196.01,Hancock St & Bedford Ave,4255.05,40.679739,-73.934619,40.682166,-73.953990,member
3580762,5FD57F3ED53FDBEB,classic_bike,2023-05-21 12:36:04,2023-05-21 13:19:32,35 Ave & 37 St,6563.12,5 Ave & E 78 St,7161.08,40.755733,-73.923661,40.776321,-73.964274,member
3580763,30CC35A9A433B701,classic_bike,2023-05-08 09:37:54,2023-05-08 10:04:59,Broadway & Berry St,5164.05,3 St & Prospect Park West,3865.05,40.710425,-73.965394,40.668132,-73.973638,member
3580764,2968C17CC49A7187,classic_bike,2023-05-27 19:55:19,2023-05-27 20:00:41,W 55 St & 6 Ave,6809.09,W 50 St & 9 Ave,6854.05,40.763189,-73.978434,40.763605,-73.989180,member
3580765,CD9203C8D4896BA1,classic_bike,2023-05-23 19:08:47,2023-05-23 19:22:59,E 51 St & 2 Ave,6575.03,E 11 St & 1 Ave,5746.14,40.755293,-73.967641,40.729538,-73.984267,member

In [9]:
new_df = pd.concat([df7,df1,df5])
new_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C09E4093905089BD,classic_bike,2022-07-23 11:34:57,2022-07-23 11:45:08,Melrose St & Broadway,4801.04,Myrtle Ave & Grove St,4816.05,40.697481,-73.935877,40.699050,-73.915160,member
1,374630DB5822C392,electric_bike,2022-07-29 18:19:08,2022-07-29 18:26:50,E 68 St & 3 Ave,6896.16,E 85 St & York Ave,7146.04,40.767128,-73.962246,40.775369,-73.948034,member
2,4F73CA25880A1215,electric_bike,2022-07-16 16:30:58,2022-07-16 17:39:18,W 37 St & 10 Ave,6611.02,Knickerbocker Ave & Cooper St,4582.05,40.756604,-73.997901,40.690810,-73.904480,member
3,ECD6EE19C0CC1D31,electric_bike,2022-07-17 17:35:57,2022-07-17 18:03:36,W 37 St & 10 Ave,6611.02,6 Ave & Broome St,5610.09,40.756604,-73.997901,40.724310,-74.004730,member
4,44D0987673B9997D,classic_bike,2022-07-11 07:56:29,2022-07-11 07:59:15,E 68 St & 3 Ave,6896.16,E 66 St & Madison Ave,6969.08,40.767128,-73.962246,40.768009,-73.968453,member

In [10]:
new_df.to_csv("22-23-7-1-5-citibike-tripdata.csv")

KeyboardInterrupt:

In [ ]:
new_df = pd.concat([df1,df5])
new_df.head()

In [ ]:
new_df.to_csv("23-1-5-citibike-tripdata.csv")

In [15]:
df5_cleaned = df5.dropna(how="any")
df5_cleaned

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,176B188F3289F37B,classic_bike,2023-05-23 19:22:53,2023-05-23 19:35:23,E 50 St & Park Ave,6659.10,E 74 St & 1 Ave,6953.08,40.757306,-73.974518,40.768974,-73.954823,member
1,BB6957A02501C686,classic_bike,2023-05-27 08:49:55,2023-05-27 08:57:42,Flatbush Ave & Ocean Ave,3704.04,Grand Army Plaza & Plaza St West,4010.15,40.663657,-73.963014,40.672968,-73.970880,member
2,C67567E1DAFB9F2C,classic_bike,2023-05-12 20:19:58,2023-05-12 20:36:07,Flatbush Ave & Ocean Ave,3704.04,3 St & 7 Ave,3905.15,40.663657,-73.963014,40.670384,-73.978397,member
3,89DDFCEAE05D043A,electric_bike,2023-05-03 07:59:13,2023-05-03 08:07:04,Flatbush Ave & Ocean Ave,3704.04,3 St & 7 Ave,3905.15,40.663657,-73.963014,40.670384,-73.978397,member
4,63B1D5A7A2316252,classic_bike,2023-05-13 10:23:52,2023-05-13 10:47:17,Flatbush Ave & Ocean Ave,3704.04,Grand Army Plaza & Plaza St West,4010.15,40.663657,-73.963014,40.672968,-73.970880,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3580761,BA28157F10FA9C78,classic_bike,2023-05-11 17:37:54,2023-05-11 17:43:33,Lewis Ave & Fulton St,4196.01,Hancock St & Bedford Ave,4255.05,40.679739,-73.934619,40.682166,-73.953990,member
3580762,5FD57F3ED53FDBEB,classic_bike,2023-05-21 12:36:04,2023-05-21 13:19:32,35 Ave & 37 St,6563.12,5 Ave & E 78 St,7161.08,40.755733,-73.923661,40.776321,-73.964274,member
3580763,30CC35A9A433B701,classic_bike,2023-05-08 09:37:54,2023-05-08 10:04:59,Broadway & Berry St,5164.05,3 St & Prospect Park West,3865.05,40.710425,-73.965394,40.668132,-73.973638,member
3580764,2968C17CC49A7187,classic_bike,2023-05-27 19:55:19,2023-05-27 20:00:41,W 55 St & 6 Ave,6809.09,W 50 St & 9 Ave,6854.05,40.763189,-73.978434,40.763605,-73.989180,member
3580765,CD9203C8D4896BA1,classic_bike,2023-05-23 19:08:47,2023-05-23 19:22:59,E 51 St & 2 Ave,6575.03,E 11 St & 1 Ave,5746.14,40.755293,-73.967641,40.729538,-73.984267,member

In [16]:
df5_cleaned.to_csv("202305-citibike-tripdata.csv")